/build

# =========================
# Android / Gradle
# =========================
.gradle/
local.properties
*.iml

# =========================
# Android Studio
# =========================
.idea/
.DS_Store

# =========================
# NDK / Native
# =========================
.externalNativeBuild/
.cxx/

# =========================
# Logs & temp
# =========================
captures/

# =========================
# Secrets
# =========================
*.jks
*.keystore
.env

# =========================
# Firebase (optional)
# =========================
google-services.json
app/google-services.json